
.content {
    width: 100%;
    margin: 0 auto;
    background-color: beige;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    & img.cover {
        width: 100px;
    }
}

.dettaglio{
    width: 60%;
    margin: 30px auto;
    text-align: center;
}

